:root {
  --text: var(--charcoal-1-04);
  --text-secondary: var(--charcoal-1-04);
  --background: var(--sea-14);
  --elevated: var(--sea-12);
  --sunken: var(--sea-16);
  --drop: var(--sea-16);
  --inset: var(--sea-1);
  --separator: var(--sea-1-4);
  --separator-on-elevated: var(--sea-2);
  --input: var(--sea-3);
  --input-icon: var(--sea-5);
  --icon: var(--sea-6);
  --icon-secondary: var(--sea-10);
  --accent: var(--sun-1-5);
  --accent-drop: var(--sun-2);
  --accent-inset: var(--sea-1-1);
  --on-accent: var(--sea-12);
  --link: var(--sky-1-5);
  --visited: var(--violet-2);
  --active: var(--blood-6);
  --focus: var(--sun-1-2);
  --focus-drop: var(--sun-1-5);
  --focus-inset: var(--sun-1-1);
  --on-focus: var(--sea-10);
  --on-focus-link: var(--sky-6);
  --on-focus-visited: var(--violet-7);
  --on-focus-active: var(--berry-6);
  --meta: var(--sea-1-2);
  --on-meta: var(--sea-12);
  --error: var(--berry-6);
  --on-error: var(--sea-1);
  --toggle-label-color: var(--sea-6);
  --toggle-track-background: var(--sea-1-2);
  --toggle-track-drop: var(--sea-1);
  --toggle-track-inset: var(--sea-2);
  --toggle-thumb-background: var(--sea-2);
  --toggle-thumb-drop: var(--sea-3);
  --toggle-thumb-inset: var(--sea-1-1);
  --element-library-background: var(--sea-16);
  --logo: var(--sun-1-5);
  --logo-secondary: var(--sea-10);
  --header-background: var(--sea-10);
  --nav-background: var(--sea-12);
  --nav-text: var(--sea-1-2);
  --footer-background: var(--sea-16);
  --container-border: var(--sea-6);
}
